.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;	
}

.column {
	display: grid;
	grid-template-columns: 1fr;
	
}

.task {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 2fr 1fr;
	border: 1px solid;	
	margin-bottom: 10px;
	text-align: left;
}

div {
	align-content: start;
	margin-left: 5px;
	text-align: center;
}