.navbar {
	display: grid;
	grid-template-columns: 8fr 1fr 1fr;
	
	margin-left: 10%;
	margin-right: 10%;	
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	
	margin-left: 10%;
	margin-right: 10%;	
}

.new-task {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 4fr 1fr;
	border: 1px solid;	
	margin-bottom: 10px;
	text-align: left;	
}

.new-task-item {
	align-content: start;
	margin-left: 5px;
	text-align: left;
}

.column {
	display: grid;
	grid-template-columns: 1fr;
	
}

.task {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 2fr 1fr;
	border: 1px solid;	
	margin-bottom: 10px;
	text-align: left;
}

div {
	align-content: start;
	margin-left: 5px;
	text-align: center;
}

a.button {
	border: 1px solid;
	padding: 5px;
	background-color: red;
	text-decoration: none;
	color: black;
} 

a:visited {
    color: black; /* Цвет посещенных ссылок */
}